# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  release:
    name: Release
    strategy:
      matrix:
        kind: ['linux', 'windows', 'macOS']
        include:
          - kind: linux
            os: ubuntu-latest
            target: linux-x64
          - kind: windows
            os: windows-latest
            target: win-x64
          - kind: macOS
            os: macos-latest
            target: osx-x64
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish geoparquet-tools
      env:
        release_name: geoparquet-tools-${{ matrix.target }}
      run: |
        cd geoparquet-tools
        dotnet publish -c Release -r ${{ matrix.target }} -o ./publish/${{ env.release_name }}
    - name: Remove PDBs
      if: matrix.os != 'windows-latest'
      run: |    
        rm -rf publish/*.pdb
    - name: Upload
      env:
        release_name: geoparquet-tools-${{ matrix.target }}
      uses: actions/upload-artifact@v3
      with:
        name: ${{ env.release_name }}
        path: geoparquet-tools/publish
